/* Стилизация кнопки */
.button {
  width: 189px;
  height: 48px;
  border-radius: 8px;
  border: none;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
}

.button-primary {
  background: var(--primary);
  color: var(--white);
}

.button-primary_hover {
  background: var(--darkblue);
}

.button-primary_disabled {
  background: var(--primary);
  pointer-events: none;
  opacity: 0.5;
}

.button-secondary {
  background: var(--secondary);
  color: var(--white);
}

.button-secondary_hover {
  background: var(--darkpurple);
}

.button-secondary_disabled {
  background: var(--secondary);
  pointer-events: none;
  opacity: 0.5;
}

.button-alternate {
  background: var(--white);
  color: var(--black);
  border: 1px solid var(--grey-3);
}

.button-alternate_hover {
  background: var(--white);
  color: var(--grey-4);
  border: 1px solid var(--black);
}

.button-alternate_disabled {
  pointer-events: none;
  color: var(--grey-4);
  opacity: 0.5;
}

.button:hover {
  text-decoration: underline var(--secondary);
}

/*.button:disabled {
  pointer-events: none;
  opacity: 0.5;
}*/
