<!DOCTYPE html>
<html lang="ru">
    <link rel="stylesheet" type="text/css" href="C:\javascript\htmlcss-20210610_marinak\assets\css\normalize.css-master\normalize.css">
    <link rel="stylesheet" href="../../assets/css/main.css">
    <link rel="stylesheet" href="../../button.css">
    <link rel="stylesheet" href="buttonsViewStyle.css">
    <link rel="stylesheet" href="page.css"
  <header class = "header">
    <h1>Reusable component library</h1>
  </header>
    <main>
      <page__layout class="page__layout">
    </main>
    <footer class = "footer">
      <h2>About</h2>
      <p>Это коллекция абсолютно непрофессионального дизайна, совсем безобразная</p>
    </footer>
</html>
