.page {
  height: 1957px;
  width: 1440px;
  background: #E5E5E5;
}

.page__layout {
  position: relative;
  height: 410px;
  width: 1440px;
  top: 180px;
  border-radius: 0px;
  background: var(--white);
  align-items: center;
}

.page__box {
  max-width: 1110px;
  display: inline-block;
  align-items: center;
  top: 160px;
}

.header {
  background-color: var(--grey-1);
  display: inline-block;
}

.footer {

}
